

* {
    font-family: 'Montserrat', sans-serif;
    background-color:#E8F8F5;
}
.logoutbutton {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: white;
}
.welcomeheader {
    text-align: center;
}
.searchform, .searchlabel, .searchbox, .searchbutton {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
.searchbox, .searchbutton {
    text-align: center;
    background-color: white;
}
.submitbutton {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: white;
}
.userheader {
    text-align: center;
}
input[type=submit] {
    background-color: white;
}
